//FONTE
$fonte-normal: "GandhiSansRegular";
$fonte-bold: "GandhiSansBold";
//CORES
/* $cor-do-texto: #d9d9d9;
$tag-color: #d9d9d94f;
$azul-escuro: #34495e;
$azul-claro: #2980b9;
$azul-rodape: #1c2331;
$rosa: #e74c3c;
$roxo: #7f8c8d;
$cinza-claro: #7f8c8d;
 
Original*/
$cor-do-texto: #d9d9d9;
$tag-color: #d9d9d94f;
$azul-escuro: #041833;
$azul-claro: #154580;
$azul-rodape: #04244f;
$rosa: #c98cf1;
$roxo: #7b78e5;
$cinza-claro: #9d9d9d;
